{% extends 'base.html.twig' %}

{% block title %}New StoreBranchLocation{% endblock %}

{% block body %}
    <h1>Create new StoreBranchLocation</h1>

    {{ include('store_branch_location/_form.html.twig') }}

    <a href="{{ path('store_branch_location_index') }}">back to list</a>
{% endblock %}
