{% extends 'base.html.twig' %}

{% block title %}New Store Branch Location{% endblock %}

{% block breadcrambs %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('store_branch_location_index') }}">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Create new store branch location</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-two-fifths">
            {{ include('store_branch_location/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
