<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome to awesome Store Branch Location manager!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        {% endblock %}
    </head>
    <body>
        <section class="section">
            <div class="container">
                {% block breadcrambs %}
                {% endblock %}
                {% for message in app.flashes('success') %}
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Success</p>
                        </div>
                        <div class="message-body">
                            {{ message }}
                        </div>
                    </article>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </section>
        {% block javascripts %}
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {% endblock %}
    </body>
</html>
